@import "tailwindcss";

@theme{
  --font-inter: "Inter" ;
}

body{
  background-color: #F6F7F8;
  padding-bottom: 50px;
}

html, body {
  overflow-x: hidden; 
  width: 100vw; 
}


#root {
  overflow-x: hidden;
}